<nav class="nav-extended z-depth-3">
  <div class="nav-wrapper">
    <a href="/product" class="brand-logo" ><img src="https://www.meme-arsenal.com/memes/b889c1dfecdc406c612610940d6cc0e8.jpg" width="75" style="margin: 7px" class="z-depth-2"/></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/product/brand/612b43a52eb84e32d8cb33e4">Giorgio Armani</a></li>
      <li><a href="/product/brand/612b43bc2eb84e32d8cb33e6">Prada</a></li>
      <li><a href="/product/brand/612b43dc2eb84e32d8cb33e8">Calvin Klein</a></li>
      <li><a href="/product/brand/612b43eb2eb84e32d8cb33ea">Roberto Cavalli</a></li>
      <li><a href="/user">Постоянные клиенты</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <p></p>
    <p></p>
    <ul class="tabs tabs-transparent">
      <li class="tab"><a class="active" href="/product">Хиты продаж</a></li>
      <li class="tab"><a href="/product/category/612b448a2eb84e32d8cb33ec">Повседневная</a></li>
      <li class="tab"><a  href="/product/category/612b44d42eb84e32d8cb33f0">Спортивная</a></li>
      <li class="tab"><a href="/product/category/612b44fc2eb84e32d8cb33f2">Нарядная</a></li>
      <li class="tab"><a href="/product/category/612b452e2eb84e32d8cb33f4">Домашняя</a></li>
    </ul>
  </div>
</nav>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>