<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css"/>
  <title>{{title}}</title>

</head>
<body>
  <div class="container">
    {{>navbar}}
    {{{body}}}
    {{basement}}
    <p></p>
    <p></p>
    <footer class="page-footer z-depth-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Служба поддержки</h5>
            <p class="grey-text text-lighten-4"> Споры и жалобы, Защита Покупателя , Сообщить о нарушении авторских прав, Пользовательские соглашения, Блог для покупателей, Купоны AliExpress</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Сотрудничество</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Партнеры</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Связь</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Отзывы</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Финансы</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <a class="nav-link" href="https://github.com/Khamzat995?tab=repositories" style="color: white">© 2021 Khamzat995</a>
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
